<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/landing.css">
</head>
<body>

  <div class="wrapper">
    <div class="Container">
          <div class="nav">
              <div class="logo">
                  DeyBour's <br> <span>
                    Homes
                  </span>
              </div>
              <div class="menu">
                  <ul class="navMenu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Listining</a></li>
                      <li><a href="#">Locations</a></li>
                      <li><a href="/users/login">Login</a></li>
                      <li><a href="/users/register">Registration</a></li>
                  </ul>
              </div>
          </div>
          <div class="header">
              <h1>DeyBour</h1>
              <p>Come and be part of US!!!</p>
              <button type="button">View Details</button>
          </div>
      </div>
  </div>
  
</body>
</html>